nav {
    background-color: #fff;
    border-radius: 8px;
    padding: 0 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    padding: 15px 20px;
}

nav a {
    text-decoration: none;
    color: #2a5298;
    font-weight: 600;
    transition: color 0.3s;
}

nav a:hover {
    color: #ff9900;
}

.active {
    border-bottom: 3px solid #ff9900;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--bg);
    color: #333;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

:root {
    --bg: #fefadc;
}

header {
    background: #b9a152;
    color: white;
    padding: 20px 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.header-top {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo-icon {
    font-size: 40px;
    color: #ffcc00;
}

.logo-text h1 {
    font-size: 26px;
    margin-bottom: 5px;
}

.logo-text p {
    font-size: 1rem;
    opacity: 0.9;
}

.contact-info {
    text-align: right;
}

.contact-info p {
    margin-bottom: 5px;
    font-size: 0.9rem;
}

h2 {
justify-content: center;

}

.Doyart {
    font-size: 40px;
    color: #2a5298;
  background-color: #b9a152;
  border-radius: 15px 15px 15px 15px;
  padding: 15px 25px;
  margin: 10px;
  display: inline-block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #2a5298;
  font-weight: 500;
  max-width: 500px;
box-shadow: 0 4px 12px rgba(0, 0, 0, 10);
}

.Doyart2 {
    font-size: 40px;
    color: #2a5298;
  background-color: #b9a152;
  border-radius: 15px 15px 15px 15px;
  padding: 15px 25px;
  margin: 10px;
  display: inline-block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #2a5298;
  font-weight: 500;
  max-width: 500px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 10);
}


.Doyart3 {
    font-size: 40px;
    color: #2a5298;
  background-color: #b9a152;
  border-radius: 15px 15px 15px 15px;
  padding: 15px 25px;
  margin: 10px;
  display: inline-block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #2a5298;
  font-weight: 500;
  max-width: 500px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 10);
}

.Bobka {
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}