.Doyart {
    font-size: 40px;
  background-color: #eee6cb;
  border-radius: 15px 15px 15px 15px;
  padding: 15px 25px;
  margin: 10px;
  display: inline-block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  max-width: 500px;
box-shadow: 0 4px 12px rgba(0, 0, 0, 10);
}

.Doyart2 {
    font-size: 40px;
  background-color: #eee6cb;
  border-radius: 15px 15px 15px 15px;
  padding: 15px 25px;
  margin: 10px;
  display: inline-block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  max-width: 500px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 10);
}


.Doyart3 {
    font-size: 40px;
  background-color: #eee6cb;
  border-radius: 15px 15px 15px 15px;
  padding: 15px 25px;
  margin: 10px;
  display: inline-block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  max-width: 500px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 10);
}

.Bobka {
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}